* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  box-shadow: 1px 1px #fff;
}

.header-container p {
  color: #ffd700;
  font-weight: bold;
}

.accessories {
  display: flex;
  gap: 15px;
}

@media (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header-container {
    font-size: 20px;
  }
}
